<?xml version="1.0" encoding="UTF-8"?>
<!-- Glossary WebApplication
	 Author: Michael Hedden
	 Date: 2014-07-10 -->
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>Glossary</display-name>
  <description>
      This is version 0.1.001 of an application to manage
      definitions of terms specific to certain projects
      to allow the user to quickly add or review terms in
      the scope of his/her project. Written by Michael Hedden
      (mikehedden@gmail.com).
  </description>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>